cart{
    text-align: center;
    display: table;
    border-collapse: collapse;
    margin: 10px;
}
item, head{
    display: table-row;
}
nname, ncost{
    display: table-cell;
    border: 1px solid black;
    background-color: rgb(141, 141, 232);
}
name, cost{
    display: table-cell;
    border: 1px solid black;
}
