img{
    transition: 0.7s;
}
.first:hover{
    transform: scale(0.5);
}
.second:hover{
    transform: rotate(45deg);
}
.third:hover{
    transform: translate(50px,0);
}
.fourth:hover{
    transform: skew(-20deg);
}
